$icomoon-font-family: "itprix" !default;
$icomoon-font-path: "fonts" !default;

$nw-icon_right_customer: "\e912";
$nw-icon_left_customer: "\e913";
$nw-desc: "\e911";
$nw-asc: "\e90f";
$nw-icon_right: "\e90e";
$nw-icon_left: "\e910";
$nw-icon_bot: "\e91b";
$nw-icon_top: "\e926";
$nw-list-paragraph: "\e90d";
$nw-Tallyfy_icon: "\e905";
$nw-list-ul: "\f0ca";
$nw-list-ol: "\f0cb";
$nw-sort-numeric-asc: "\f162";

