$icomoon-font-family: "itprix" !default;
$icomoon-font-path: "fonts" !default;

$nw-desc: "\e903";
$nw-asc: "\e904";
$nw-icon_right: "\e900";
$nw-icon_left: "\e910";
$nw-icon_bot: "\e91b";
$nw-icon_top: "\e926";
$nw-list-paragraph: "\e901";
$nw-Tallyfy_icon: "\e902";
$nw-list-ul: "\f0ca";
$nw-list-ol: "\f0cb";
$nw-sort-numeric-asc: "\f162";

