.tallyfy_catFilter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2em 3em;
  margin-bottom: 2em;
  transition: all 0.3s;
  &.left {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  &.justify {
    & .tallyfy_cat {
      flex-grow: 1;
    }
  }
  & .tallyfy_cat {
    cursor: pointer;
    padding: 0.5em 2em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.3em;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

    &:hover {
      -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 1%);
      box-shadow: 0 0 15px 0 rgb(0 0 0 / 1%);
      background-color: #fff;
      color: #3fb65b;
    }
    &.show {
    }
  }
}
.tallyfy_containers {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: max-content;
  min-height: min-content;
  gap: 1em;
  & .tallyfy_item {
    padding: 1em;
    background-color: #fff;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    & .tallyfy_item_title {
      margin-bottom: 1em;
      font-size: 1em;
      color: #3fb65b;
      display: block;
      text-align: left;
    }
    & .tallyfy_item_body {
      position: relative;
      margin-bottom: 1em;
      line-height: 1.5em;
      font-size: 14px;
      color: #777;
      z-index: 0;
      & .icon-wrapper {
        position: absolute;
        top: -1%;
        left: -1%;
        width: 100%;
        font-size: 2em;
        z-index: -1;
        color: #f3f4f5;
      }
    }
    & .tallyfy_item_subTitle {
      font-size: 14px;
      line-height: 1.1;
      color: #515151;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      -webkit-font-smoothing: antialiased;
    }
    & .tallyfy_item_footer {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #3fb65b;
      text-decoration: none;

      &:hover {
        color: #5c5c5c;
      }
    }
  }
}
