.tesCard {
  display: grid;
  gap: 0.5em;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  grid-auto-flow: column;
  transition-property: all;
  transition-timing-function: linear;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  &:hover {
    text-decoration: none !important;
  }

  & .tesInfo {
    grid-column: span 3 / span 3;
  }
  & .tesImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & img {
      max-width: fit-content;
    }
  }
}
