.tesCard {
  display: grid;
  gap: 0.5em;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  // grid-auto-flow: column;
  transition-property: all;
  transition-timing-function: linear;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  &:hover {
    text-decoration: none !important;
  }

  & .tesInfo {
    //grid-column: span 3 / span 3;
  }
  & .tesImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-area: 1 / 1;
    & > img {
      margin: 0;
      aspect-ratio: 1 / 1;
    }
  }
  & > .tesText {
    grid-column: span 4 / span 4;
    padding: 0.5rem 0rem 0rem 0.4rem;
    position: relative;
    z-index: 0;
    &:before {
      content: "\e810";
      color: #c5c5c55e;
      font-family: eicons;
      position: absolute;
      transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      margin: -0.5rem -0.4rem;
      font-size: 3em;
      z-index: -1;
    }
    &:after {
      content: "\e910";
      font-family: eicons;
      position: absolute;
      right: 0;
      bottom: 0;
      color: #23a455;
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}
